.bg-white {
    background-color: #ffffff !important;
}

.projectList .btn-holder {
    position: absolute;
    top: 3.8rem;
    right: 1.6rem;
}
.projectList .card-body .h6, .projectList .card-body h6 {
    display: inline-block;
    color: #213B71;
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0;
}