@media (min-width: 992px){
.navbar-expand-lg .navbar-toggler {
    display: none;
}
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

@media screen and (min-width: 992px){
.navbar-expand-lg > .container .topNav {
    position: absolute;
    right: 3rem;
    bottom: 7rem;
}
}


.li-header-color:hover{
    cursor: pointer;
}

a{
    color:#213B71;
    text-decoration: none;
}



.navbar.navbar-transparent {
    background-color: rgba(255,255,255,0.78) !important;
    padding-bottom: 15px;
}

.navbar .navbar-toggler .navbar-toggler-icon {
    position: relative;
    width: 22px;
    height: 2px;
    transition: 0.2s;
    outline: 0;
    display: block;
    border-radius: 1px;
}

.navbar .navbar-toggler .navbar-toggler-icon {
    background-color: #555;
}

@media screen and (min-width: 992px){
.navbar-expand-lg > .container .topNav {
    position: absolute;
    right: 3rem;
    bottom: 7rem;
}
}


.nav-bar-link-color a{
color:#213B71;
text-decoration: none;
}