.page-headers.header-small {
    height: 65vh;
    min-height: 65vh;

}

.header-filter {
    position: relative;
}
.page-headers {
    background-image: url('./img/Rectangle8.png');
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    min-width: 15rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}




.position-relative {
    position: relative !important;
    background-color: #213B71;
    width:500px;
    max-width:100%;
}

.page-headers .bgColor {
    background-color: #213B71;
    position: absolute;
    left: -100%;
    top: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    margin: .25rem 0;
    z-index: -1;
}