.page-headers.header-small {
    height: 65vh;
    min-height: 65vh;

}

.header-filter {
    position: relative;
}
.page-headers {
    background-image: url('./img/Rectangle8.png');
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}


.page-headers h1:after{
    content: "";
    background-image: url('./img/ribbon_edge.png');
    background-position: center;
    background-repeat: no-repeat;
    min-width: 15rem;
    bottom: 0;
    top: 0;
    width: 15rem;
    position: absolute;
    margin: .25rem 0;
}

.position-relative {
    position: relative !important;
}