.bg-light {
    background-color: #f3f3f3 !important;
}

.h3{
    color:#213b71;
    line-height: 1.4em;
    font-size:36px;
}

.card-blog{
    margin-top: 5rem;
}

.featuredProj .card-blog .card-body h6, .featuredProj .card-blog .card-body .h6 {
    font-size: 1.3rem;
    color: #213B71 !important;
    font-weight: 700;
}

.h6 {
    font-size: 1.3rem;
    color: #213B71 !important;
    font-weight: 700;
}

.card-text-styling{
    color:#213B71;
    font-size: 15px;
}

.read-more{
    color:#213B71;
}