.page-headed.header-small {
    height: 65vh;
    min-height: 65vh;

}

.header-filter {
    position: relative;
}
.page-headed {
    background-image: url('./Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}