.featured-project-padding{
    padding:20px



 
}

.project-heading{
    color:#213B71;
   }

  

   .Project-shutdown-heading{
    color:#213B71;
    padding:10px;
   }


.box{
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box-display{
    display:flex;
    justify-content:center;
}


.featured-image-dimensions{
    width:400px;
    height:400px;
}


.project-colors{
    color: #989899;
}



.card-margins{
    margin-top:30px;
    margin-right:20px;
}

.card-text-colors-size{
    color:#213B71;
    font-size:13px;
}
.card-text-size{
    font-size:20px;
}

.button-margins{
    margin-top:30px 
}

.second-tab-margin{
    margin-top:20px 
}