
.ctaSection {
    padding: 6.75rem 0;
}
.bg-light {
    background-color: #f3f3f3 !important;
}



.card-bodies{
    min-width:25rem;
    max-width: 100%;
    background-image: url('./Layer-68.png');
    background-position: center;
     background-size:cover ;
    min-height:20rem;
}

.card-bodies-2{
    min-width:25rem;
    max-width: 100%;
    background-image: url('./Layer-668.png');
    background-position: center;
    background-size:cover ;
    min-height:20rem;
}