button {
    width: 207px;
   height: 42px;
   opacity: 1;
    border:1px solid #213B71;
    transition: all .2s ease-in-out;
}
button:hover {
    opacity: .8;
    transition: all .2s ease-in-out;
}
    .button-blue{
        background: #213B71 ;
        color:white;
    }


.input-green{
    width: 207px;
    height: 42px;
    background: #64BC4D ;
    opacity: 1;
    color:white;
     border:1px solid #64BC4D;
}

.input-yellow{
    width: 207px;
    height: 42px;
    background: #FAC913 ;
    color:white;
    opacity: 1;
     border:1px solid #FAC913;
}