.market-header  {
    height: 65vh;
    min-height: 65vh;

}

.headfit {
    position: relative;
}
.market-header {
    background-image: url('./Rectangle-8.png');
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}