p{
    font-family: Roboto;
}

.bg-white {
    background-color: #ffffff !important;
}
.introSection {
    padding: 8.75rem 0 5rem;
}

.text-lead{
    color:#989899;
    font-size: 26px;
}

.marketDetails h4, .marketDetails .h4 {
    font-weight: 700;
    color: #213B71;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.marketDetails p {
    color:#999999;
 
}

.marketDetails.bg-secondary h4, .marketDetails.bg-secondary .h4 {
    color: #fff;
}
.paragraph-2-color{
    background-color: #8C99A2;
}

.secondPara p{
color:#ffffff;
}

.container-padding{
    padding-bottom:5%;
    padding-top:5%;
}