p.card-text{
   margin:10px;
   color:#999999;
}


.markets-p{
   color:#989899;
}

.container-div{
   text-align:center;
   font-size:18px;
}


.market-card-width{
   width:18rem;
}


.card-heading-5{
   text-align:center;
   color:#3C4858;
}

.paragraph-card-text{
   color:#999999;
   font-size:14px;
   line-height:20px;
}

.btn__container{
   display:flex;
   justify-content:center;
}

.bottom-cards{
   display:flex;
   justify-content:center;
   position:relative;
   
}


.introSection{
   padding: 8.75rem 0 5rem;
}

.lead{
   font-size: 16px;
   font-weight: 300;
   color:#989899;
}

.market{
   padding-bottom:6rem;
}

.card-description{
   color:#999;
}

.btn-holder{
   padding-top: 3rem
}